<footer class="bg-slate-700 text-gray-50 p-6">
  <div class="container mx-auto text-center">
    <div class="grid grid-cols-1 md:grid-cols-3 justify-items-center">
      <ul>
        <h3>Features</h3>
        <li>Docs</li>
        <li>Files</li>
        <li>Dashboard</li>
      </ul>
      <ul>
        <h3>Products</h3>
        <li>CRM</li>
        <li>Projects</li>
        <li>Team</li>
      </ul>
      <ul>
        <h3>Company</h3>
        <li>About Us</li>
        <li>Customer Histories</li>
      </ul>
    </div>
    <p class="my-2 font-light">All rights reserved. © 2022</p>
  </div>
</footer>
