<section class="py-10 md:py-14 text-center container mx-auto">
  <div>
    <h2 class="text-xl font-bold md:text-4xl">Why Choose Crmlux?</h2>
    <p class="text-gray-600 text-sm font-light mt-1">
      Except that we are the best
    </p>
  </div>
  <div
    class="flex items-center mt-6 w-2/3 lg:w-10/12 mx-auto leading-7 flex-col"
  >
    <!-- First Section -->
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-x-10 items-center justify-center"
    >
      <p>
        <span class="block font-bold md:text-lg"
          >Build Great Relationships</span
        >
        Find every customer, contact and communication instantly. Track your
        leads and automate your sales process. Keep on the ball by setting tasks
        and appointments so you never miss another sale. Equally important is
        our relationship with you. We want your business to succeed that’s why
        we include free customer support and loads of free resources – delivered
        by humans! You can contact us by email, online chat or set up an
        appointment with one of our technical experts.
      </p>
      <img class="m-3 mx-auto" src="assets/collaboration.png" alt="Relations" />
    </div>

    <!-- Second Section -->
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-x-10 items-center justify-center"
    >
      <p>
        <span class="block font-bold md:text-lg">Knowledge Is Power</span>View
        and track your sales from inquiry to close and automate your processes
        to prioritise your best leads. Gain valuable insights from your customer
        data with detailed reports and analysis. Customise your CRM by adding
        your own fields and terminology so you can quickly find your data and
        create individual dashboards to highlight what’s important to you.
      </p>
      <img
        class="m-3 mx-auto lg:order-first"
        src="assets/knowledge.png"
        alt="Relations"
      />
    </div>
  </div>
</section>
